#root {
    text-align: center;
}
#persons {
    list-style:inside;
}
#persons li{
    list-style-type:lower-roman;
    display:flex;
    justify-content:center;
    gap:1rem;
    padding:1rem;
}
form {
}
form div {
    display:flex;
    justify-content:center;
    margin:0.5rem;
}
label {
    text-align:right;
    padding-right:0.2rem;
}
#my-app {
    margin:1rem;
}
#persons {
    color:black;
    font-size:xx-large;
    margin:0;
    padding:0;
}
#persons li:nth-child(even){
}
.PersonFarm {
    margin:1rem;
    border:2px solid black;
}
.notification {
    background:lightgrey;
    font-size:20px;
    border-style:solid;
    border-radius:5px;
    padding:10px;
    margin-bottom:10px;
}
.notification.green {
    color:green;
}
.notification.red {
    color:red;
}
