@charset "UTF-8";
:root {
  --main-bg-color: white;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem; /* 18px, where 1rem = 16px */
  line-height: 1.3;
  background-color: var(--main-bg-color);
}

h1 {
    color:green;
    font-style:italic;
}

.note {
    color:grey;
    padding-top:0.5em;
    font-size:1em;
}

.error {
    color:red;
    background:lightgrey;
    font-size:20px;
    border-style:solid;
    border-radius:5px;
    padding:10px;
    margin:10px;
}

.apka {
    width:80%;
    margin:1em auto;
}
