:root {
    --padding: 1em;
}
.App {
    margin:1em auto;
    background:lightgrey;
}
.App .input-zone {
    padding:1em;
    background:black;
    color:white;
}
.App label {
    padding:var(--padding);
    margin-bottom:2em;
}
.App label input { margin-left:0.5em; }
.App pre {
    padding:var(--padding);
}
.bigger {
    font-size:220%;
}
.App ul {
    list-style:none;
}
.countries {
    background: yellow;
}
.countries li {
    display:flex;
    margin:0.5em;
    align-items:center;
    justify-content:center;
    gap:1em;
}
.countries .flag {
    padding:0.5em;
    background:white;
    border-radius:50%;
    border:1px solid black;
}
.countries .country-name {}
.countries .languages {
    background:pink;
}
