:root {
    --padding: 1em;
}
.App {
    margin:1em auto;
    background:lightgrey;
}
.App .input-zone {
    padding:1em;
    background:black;
    color:white;
}
.App label {
    padding:var(--padding);
    margin-bottom:2em;
}
.App label input { margin-left:0.5em; }
.App pre {
    padding:var(--padding);
}
.App .one-country {
    padding:var(--padding);
}
.bigger {
    font-size:220%;
}
.App ul {
    list-style:none;
}
.App ul li {
    font-size:120%;
    margin:1em;
}
.App ul li span.country-name {
    margin-right:1em;
}
.countries {
    background: yellow;
}
.countries li {
    padding:0.5em;
}
.countries .one-of-many .flag {
    padding:0.5em;
    background:white;
    border-radius:50%;
    border:1px solid black;
}
.countries .country-name {
    BAckground: white;
    padding:0.5em;
}
.countries .languages {
    background:pink;
}
.countries .langs li {
    font-size:80%;
}
