:root {
    --padding: 1em;
}
body {
    background:yellow;
}
.App {
    margin:1em auto;
}
.find-country {
    padding:1em;
    border:2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    background:orange;
    border-radius:5em;
    gap:1em;
}
.find-country * {
}
.App label {
    padding:var(--padding);
}
.App label input { margin-left:0.5em; }
.App pre {
    padding:var(--padding);
}
.bigger {
    font-size:220%;
}
.countries {
    list-style:none;
    border:2px solid black;
}
.countries li {
    display:flex;
    margin:0.5em;
    align-items:center;
    justify-content:center;
    gap:1em;
}
.countries .flag {
    padding:0.5em;
    background:white;
    border-radius:50%;
    border:1px solid black;
}
.countries .country-name {}
.countries .languages {
}
